repositories:
  - name: "istio"
    url: https://istio-release.storage.googleapis.com/charts
  - name: emberstack
    url: https://emberstack.github.io/helm-charts
  - name: "whatever"
    url: https://git.sia-partners.com/api/v4/projects/1506/packages/generic/whatever-repository/1.0.0

